
@use '@angular/material' as mat;

.add-btn {
  background-color: var(--all-black);
  border: none;
  padding: 15px 25px;
  color: var(--white);
  border-radius: 25px;

  font-size: 13px;
  font-weight: 500;
  border: solid 1px var(--all-black);

  transition: 0.2s;

  &:hover {
    background-color: var(--white);
    color: var(--all-black);
  }

}

.can-btn {
  background-color: var(--white);
  border: solid 1px var(--all-black);
  padding: 15px 25px;
  color: var(--all-black);
  border-radius: 25px;

  font-size: 13px;
  font-weight: 500;

  transition: 0.2s;


  &:hover {
    background-color: var(--all-black);
    color: var(--white);
  }
}


.GET {
  background-color: #D59974;
}

.POST {
  background-color: #7CD574;
}

.PUT {
  background-color: #74D5CA;
}

.DELETE {
  background-color: #D57474;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ff0000;
    border-radius: 34px;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      left: 3px;
      bottom: 3px;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.3s;
    }
  }

  input:checked + .slider {
    background-color: #4caf50; // verde quando ativo
  }

  input:checked + .slider::before {
    transform: translateX(24px);
  }

  // efeito ao clicar
  .slider:active::before {
    width: 24px;
  }
}

*::-webkit-scrollbar { display: none; }

@include mat.badge-overrides((
  background-color: rgb(197, 0, 0),
  text-color: var(--white)
));

.mat-mdc-menu-content {
  background: var(--primary) !important;
  border-radius: 10px;
  padding: 6px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.mat-mdc-menu-content .mat-mdc-menu-item {
  color: var(--white) !important;
  font-size: 14px;
  span {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.mat-mdc-menu-content .mat-mdc-menu-item:hover {
  background: var(--grey) !important;
  color: var(--white);
}



.cadastro-modal .mdc-dialog__surface {
    background-color: var(--white);
    height: 85vh;
    width: 900px;
    max-width: 90vw;
    border-radius: 20px;
}

.cadastro-modal .mdc-dialog__container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.alterar-senha .mdc-dialog__surface {
    background-color: var(--white);
    height: 45vh;
    width: 600px;
    max-width: 90vw;
    border-radius: 20px;
}

.alterar-senha .mdc-dialog__container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}