<section>
    <div class="container">
        <div class="col">
            <div class="text">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, iure voluptatum voluptatibus consequuntur animi quod sunt, deserunt tempora nisi inventore veritatis atque ad enim omnis quibusdam illo eveniet tempore quia.</p>

            </div>
            <div class="form">
                <h4>Comentarios</h4>
                <textarea name="" id=""></textarea>
                <button class="add-btn">Salvar Chamado</button>
            </div>
        </div>
        <div class="col">
            <div class="infos">
                <div class="info">
                    <h4>titulo</h4>
                    <p>Lorem</p>
                </div>
                <div class="info">
                    <h4>titulo</h4>
                    <p>Lorem</p>
                </div>
                <div class="info">
                    <h4>titulo</h4>
                    <p>Lorem</p>
                </div>
                <div class="info">
                    <h4>titulo</h4>
                    <p>Lorem</p>
                </div>
                <div class="info">
                    <h4>titulo</h4>
                    <p>Lorem</p>
                </div>
                <div class="info">
                    <h4>titulo</h4>
                    <p>Lorem</p>
                </div>
                <div class="info">
                    <h4>titulo</h4>
                    <select name="" id=""></select>
                </div>
            </div>
        </div>
    </div>
</section>