<section>
    <div class="container">
        <div class="col">
            <div class="text">
                <h3>{{chamado.titulo}}</h3>
                <p>{{chamado.descricao}}</p>

            </div>
            <div class="form">
                <div class="inputs">
                    <label for="txt_area">Comentarios</label>
                    <textarea name="txt_area"></textarea>
                </div>
                
                <button class="add-btn">Salvar Chamado</button>
            </div>
        </div>
        <div class="col">
            <div class="infos">
                <div class="info">
                    <h4>Prioridade:</h4>
                    <p>{{chamado.prioridade}}</p>
                </div>
                <div class="info">
                    <h4>Status:</h4>
                    <select name="" id=""></select>
                </div>
                <div class="info">
                    <h4>Abriu o chamado:</h4>
                    <p>Lorem</p>
                </div>
                <div class="info">
                    <h4>Usuario Associado:</h4>
                    <select name="" id=""></select>
                </div>
                <div class="info">
                    <h4>Categoria:</h4>
                    <p>Lorem</p>
                </div>
                <div class="info">
                    <h4>Prazo:</h4>
                    <p>Lorem</p>
                </div>
            </div>
        </div>
    </div>
</section>