<section>
    <div class="container">
        <div class="sidemenu">
            <nav>

                <img [class.invert]="isDarkTheme" src="icon.png">

                <div class="menu">
                    @if(configMode == false) {

                        <h4>MENU</h4>
                        <ul>
                            <li routerLink="/dashboard"><i class="bi bi-grid-1x2-fill"></i>Dashboard</li>
                            <li routerLink="/chamados"><i class="bi bi-inbox-fill" ></i >Chamados</li>
                            @if(conversas.length > 0){
                                <li routerLink="/chat" matButton="elevated" [matBadge]="conversas.length" matBadgePosition="after"><i class="bi bi-chat-right-dots-fill"></i>Conversas</li>
                            }@else {
                                <li routerLink="/chat"><i class="bi bi-chat-right-dots-fill"></i>Conversas</li>
    
                            }
                            <li routerLink="/sistemas"><i class="bi bi-display-fill"></i>Sistemas</li>
                            @if(userRole == "ADMIN"){
                                <li routerLink="/usuarios"><i class="bi bi-people-fill"></i>Usuarios</li>
                            }
                        </ul>
                    }@else {
                        <h4>CONFIGURAÇÕES</h4>
                        <ul>
                            <li routerLink="/editar-usuario"><i class="bi bi-person-circle"></i>Conta</li>
                            <li (click)="toggleTheme()"><i class="bi bi-circle-half"></i>Mudar tema</li>
                            <li (click)="alterarSenha()"><i class="bi bi-unlock2-fill" ></i>Alterar senha</li>
                            <li (click)="configMode = false"><i class="bi bi-arrow-left" ></i>Voltar</li>
                        
                        </ul>
                    }
                </div>

                <div class="geral">
                    <h4>GERAL</h4>
                    <ul>
                        <li (click)="configMode = true"><i class="bi bi-gear-fill"></i>Configurações</li>
                        <li><i class="bi bi-question-circle-fill"></i>Ajuda</li>
                        <li (click)="sair()"><i class="bi bi-door-open-fill"></i>Sair</li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="perfil">
                  
                    <div class="info">
                       <img [src]="usuarioAtual.FotoPerfil ? 
                            'data:image/jpeg;base64,' + usuarioAtual.FotoPerfil : 
                            'profile_def.jpg'"
                            alt="imgPerfil">
                        <div class="user">
                            <p>{{usuarioAtual.nome}}</p>
                            <p>{{usuarioAtual.email}}</p>
                        </div>
                    </div>
            </div>


            

            <div class="component">
                <router-outlet />
            </div>
        </div>
    </div>
</section>