<section>
    <div class="container">
        <div class="sidemenu">
            <nav>

                <img src="icon.png">

                <div class="menu">
                    <h4>MENU</h4>
                    <ul>
                        <li routerLink="/dashboard"><i></i>Dashboard</li>
                        <li routerLink="/chamados"><i></i>Chamados</li>
                        <li routerLink="/chat"><i></i>Conversas</li>
                        <li routerLink="/sistemas"><i></i>Sistemas</li>
                        <li routerLink="/usuarios"><i></i>Usuarios</li>
                    </ul>
                </div>

                <div class="geral">
                    <h4>GERAL</h4>
                    <ul>
                        <li><i></i>Configurações</li>
                        <li><i></i>Ajuda</li>
                        <li><i></i>Sair</li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="perfil">
                    <i>icon_alerta</i>
                    <div class="info">
                        <img [src]="'data:image/jpeg;base64,' + usuarioAtual.FotoPerfil" alt="perfil">
                        <div class="user">
                            <p>{{usuarioAtual.nome}}</p>
                            <p>{{usuarioAtual.email}}</p>
                        </div>
                    </div>
            </div>

            

            <div class="component">
                <router-outlet />
            </div>
        </div>
    </div>
</section>