<section>
    <div class="nav">
        <img src="icon.png" alt="Dashboard">
        <div class="menu">
            <p>MENU</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="geral">
            <p>GERAL</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="user">
            <i></i><i></i>
            <div class="profile">
                <img src="" alt="">
                <h4>user</h4>
                <p>useremail</p>
            </div>
        </div>
        <div class="dashboard">
            <h1>Dashboard</h1>
            <button>+ adicionar servico</button>
            <div class="servicos">
                <div class="row">
                    <div class="box">
                        <p>Lorem ipsum dolor sit amet</p>
                        <h1>{{chamadosOpen}}</h1>
                        <i></i>
                    </div>
                    <div class="box">

                        <p>Lorem ipsum dolor sit amet</p>
                        <h1>{{chamadosOpen}}</h1>
                        <i></i>
                    </div>
                    <div class="box">
                        <p>Lorem ipsum dolor sit amet</p>
                        <h1>{{chamadosOpen}}</h1>
                        <i></i>
                    </div>
                </div>
                <div class="row">
                    <div class="box">

                    </div>
                    <div class="box">
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>