<section>
        <div class="dashboard">
            <div class="text">
                <h1>Dashboard</h1>
                <button class="add-btn" (click)="cadastrarServico()">+ adicionar servico</button>
            </div>
            <div class="servicos">
                <div class="row">
                    <div class="box">
                        <p>Chamados abertos</p>
                        <h1>{{chamadosOpen}}</h1>
                        <i>icone_chamado</i>
                    </div>
                    <div class="box">
                        <p>Serviços ativos</p>
                        <h1>{{servicosAtivos}}</h1>
                        <i>icone_servicos</i>
                    </div>
                    <div class="box">
                        <p>Serviços com falha</p>
                        <h1>{{servicosComErro}}</h1>
                        <i>icone_servicos</i>
                    </div>
                </div>
                <div class="row">
                    <div class="box">
                        <h3>Status de servicos</h3>
                        <div class="servicos">
                        @for (item of servicos; track $index) {
                                <div class="servico">
                                    <div class="corpo">
                                        <h4>{{item.nome}}</h4>
                                        <span><i></i>{{item.status}}</span>
                                        <p>{{item.descricao}}</p>
                                        <p>{{item.url}}</p>
                                    </div>
                                   <label class="switch">
                                        <input type="checkbox" [checked]="item.status == 'UP'" (click)="executarAcao(item.id, item.status)">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="box user">
                        <h3>Time de desenvolvimento</h3>
                        <div class="usuarios">
                            @for (item of usuarios; track $index) {
                                <div class="usuario">
                                    <img [src]="item.FotoPerfil ? 
                                                'data:image/jpeg;base64,' + item.FotoPerfil : 
                                                'profile_def.jpg'"
                                                alt="imgPerfil">
                                    <div class="info">
                                        <h4>{{item.nome}}</h4>
                                        <p>{{item.perfil}}</p>
                                    </div>
                                  
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>