<section>
    <div class="container">
        <h3>Adicionar Chamado</h3>
        <form action="">
            <div class="input">
                <label for="">Titulo:</label>
                <input type="text">
                <label for="">Prioriade:</label>
                <select name="" id=""></select>
                <label for="">Descricao:</label>
                <textarea name="" id=""></textarea>
            </div>

            <div class="btn">
                <input type="submit" value="Salvar Chamado" class="add-btn">
            </div>
        </form>
    </div>
</section>