<section>
    <div class="container">
        <div class="text-infos">
            <div class="text">
                <div class="infos">
                    <h2>{{servico.nome}}</h2>
                    <span><i [class]="servico.status + ' bi bi-dot'"></i>{{servico.status}}</span>
                </div>
                <p>{{servico.id}}</p> 
               
            </div>
            <div class="btns">
                <button (click)="executarAcao(servico.id, 'stop')"><i class="bi bi-stop-fill"></i></button>
                <button (click)="executarAcao(servico.id, 'restart')"><i class="bi bi-arrow-clockwise"></i></button>
                <button (click)="executarAcao(servico.id, 'start')"><i class="bi bi-play-fill"></i></button>
            </div>
        </div>

        <hr>

        
        <!-- @if (editMode) {
                    <button (click)="salvar()">salvar</button>
                    <button (click)="editMode = !editMode">cancelar</button>
                }
                @else {
                    <button (click)="editMode = !editMode">editar</button>
                } -->
    
       
        <div class="form">
            
                <div class="col">
                    <label for="nome">nome: </label>
                    <input type="text" [(ngModel)]="servico.nome" [disabled]="!editMode" name="nome">
                    <label for="">url: </label>
                    <input type="text" [(ngModel)]="servico.url" [disabled]="!editMode" name="url">
                </div>
                <hr>
                <div class="col">
                    <label for="descricao">descricao:</label>
                    <input type="text" [(ngModel)]="servico.descricao" [disabled]="!editMode" name="descricao">
                    <label for="healthEndpoint">health Endpoint:</label>
                    <input type="text" [(ngModel)]="servico.healthEndpoint" [disabled]="!editMode" name="healthEndpoint">
                </div>

                
            </div>
            <div class="btn">
                @if (editMode) {
                        <button (click)="cancelarEdicao()" class="can-btn">CANCELAR</button>
                        <button (click)="editMode = !editMode" class="add-btn">SALVAR</button>
                    }
            </div>
            
            <div class="request">

                <div class="line">
                    <p>Requests</p>
                    <hr>
                    <button (click)="adicionarRequest()">+ adicionar Requests</button>
                </div>
                @if (servico.requisicoes.length >= 1) {
                            
                        
                <div class="table">
                    <div class="header">
                        <p>Metodo</p>
                        <p>Endpoint</p>
                        <p>Enviar requisicao</p>
                        <p>Acao</p>
                    </div>
                    <div class="body">
                        @for (item of servico.requisicoes; track $index) {
                        <div class="requisicao">
                                <div class="metodo">
                                    <p [class]="item.metodo.toUpperCase()">
                                        {{item.metodo}}
                                    </p>

                                    </div>
                                <p>{{item.endpoints}}</p>
                                <p><button (click)="enviarRequisicao(item)">send</button></p>
                                <div class="acoes">
                                    <i class="bi bi-pencil-fill" (click)="editarRequest($index)"></i>
                                    <i class="bi bi-trash3-fill" (click)="apagarRequest($index)"></i>
                                </div>
                            </div>
                        }

                        <p>Console:</p>
                        <div class="console">
                           <pre>{{ consoleReturn | json }}</pre>
                        </div>
                    </div>
                </div>

            }
            </div>
            <hr>
            <div class="btn">
                <button class="add-btn" (click)="deletarServico()">DELETAR</button>
    
                <button (click)="editarServico()"  class="add-btn">EDITAR</button>
                
                
                <button class="add-btn" (click)="salvar()">SALVAR</button>
            </div>
        </div>

</section>

               