<section>
    <div class="row">
        <div class="text">
            <h4>nome do sistema</h4> <span><i></i>satus</span>
            <p>id</p>
        </div>

        <div class="form">
            <div class="col">
                <label for=""></label>
                <input type="text">
                <label for=""></label>
                <input type="text">
            </div>
            <div class="col">
                <label for=""></label>
                <input type="text">
                <label for=""></label>
                <input type="text">
            </div>
        </div>

        <div class="request">
                     <table>
                    <tr>
                        <th>Metodo</th>
                        <th>Endpoint</th>
                        <th>Enviar requisicao</th>
                        <th>Acao</th>
                    </tr>

                    <tbody>

                    </tbody>
                </table>
        </div>
        
    </div>

</section>

               