section {
    color: white;
    padding: 30px;


    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        hr {
            height: 1px;
            width: 100%;
            border: none;
            background-color: var(--grey);
        }

        .text-infos {
            display: flex;
            justify-content: space-between;
            width: 100%;
            
            .text {
                display: flex;
                flex-direction: column;
    
    
                .infos {
                    align-items: center;
                    display: flex;
                    gap: 5px;
                }
            }
        }
    
        .form {
            display: flex;
           
            width: 100%;
            align-items: center;
            justify-content: space-between;
    
            gap: 20px;
    
            hr {
                height: 100px;
                width: 2px;
                border: none;
                background-color: var(--grey);
                
            }
    
            .col {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 10px;
    
                input {
                    border-radius: 5px;
                    border: none;
                    color: var(--black);
                    height: 30px;
                    
                    padding: 10px;
    
                    &:disabled {
                        background-color: var(--grey);
                    }
                }
    
            }
        }

        .request {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .line {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;

                hr {
                    height: 2px;
                    width: 80%;
                    background-color: var(--white);
                    border: none;
                }

                button {
                    background: none;
                    border: none;
                    color: var(--white);
                    font-weight: bold;
                }

            }

            .table {

                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;

                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;

                    width: 100%;
                    height: 60px;
                    background-color: var(--grey);
                    border-radius: 5px;

                    p {
                        width: 100%;
                    }

                }

                .body {
                    

                    padding: 10px;
                    .requisicao {
                        display: flex;
                        justify-content: space-e;
                        align-items: center;
                        background-color: var(--grey-20);
                        height: 50px;
                        width: 100%;
                        
                        border-radius: 10px;

                        .metodo {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p {
                                font-weight: 600;
                                width: 30%;
                                border-radius: 20px;
                                color: var(--black);
                                font-weight: 600;
                            }

                            .GET {
                                background-color: #D59974;
                            }

                            .POST {
                                background-color: #7CD574;
                            }

                            .PUT {
                                 background-color: #74D5CA;
                            }

                            .DELETE {
                                background-color: #D57474;
                            }

                        }

                        p, .acoes{
                           
                            text-align: center;
                            width: 100%;
                          
                        }

                        button {
                            padding: 5px;
                            border: none;
                            border-radius: 5px;
                            background-color: var(--black);
                            color: var(--white);
                        }

                        .acoes {
         
                            display: flex;
                            justify-content: center;
                            gap: 30px;
                        }
                    }
                }
            }

            
        }
        
         .btn {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: end;
              gap: 10px;
          }
    }
}