

<section>
    <div class="container">
        <div class="infos">
            <img alt="imgPerfil" [src]="conversa.FotoPerfil ?'data:image/jpeg;base64,' + conversa.FotoPerfil : 'profile_def.jpg'" >
            <h3>{{conversa.nome}}</h3>
        </div>
        <div class="chat">
            @for (item of conversa.mensagem; track $index) {
                <div [ngClass]="{'enviado': item.idRemetente === usuarioAtual, 'recebido': item.idRemetente !== usuarioAtual}">
                    <p >{{item.conteudo}}</p>
                    <div class="horario">
                        <p [ngClass]="item.lido ? 'lido' : 'Naolido'">
                            <i class="bi bi-check-all"></i>
                        </p>
                        <p>
                            {{item.dataEnvio | date: 'HH:mm'}}
                        </p>
                    </div>
                </div >
            }
        </div>


        <div class="enviar">
            <input type="text" name="" [(ngModel)]="mensagem.conteudo">
            <button (click)="enviarMensagem()">enviar</button>
        </div>

    </div>
</section>
