<section>
    <div class="container">

        <div class="atalho">
            <p><i>idas</i>Dashboard</p> 
            > 
            <p>Chamados</p> 

        </div>


        <div class="row">
            <h1>Chamados</h1>
            <button class="add-btn">+ adicionar chamados</button>
        </div>
        <div class="row"> 
        <!-- <div class="adicionar-chamado">
            <app-adicionar-chamados/>
        </div> -->
        <!-- <div class="chamados">
            <app-lista-chamados/>
        </div> -->
        <div class="adicionar-chamado">
            <app-descricao-chamado />

        </div>
        </div>
    </div>
</section>