.container {
    display: flex;
    flex-direction: column;

    gap: 10px;

     .atalho {
        cursor: pointer;
        color: var(--atalho);

        display: flex;
        gap: 5px;

       .servicoAtivo{
            color: var(--atalho-ativo);
            font-weight: 600;
        }

        p {
            display: flex;
            gap: 5px;
        }
    }

     .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: var(--title);

        .adicionar-chamado {
            margin-top: 20px;
            height: 600px;
            
           
            width: 100%;

        }


        .chamados {
            position: relative;
            margin-top: 20px;
            height: 600px;
            min-height: 600px;
           
            width: 100%;

        }
        

        h3 {
            font-size: 30px;
            font-weight: bold;
        }

    }
}