<section>
    <div class="container">

        <div class="atalho">
            <p><i class="bi bi-grid-1x2-fill"></i>Dashboard</p> 
            > 
            <p (click)="AreaSelecionada = 'lista-chamados'">Chamados</p> 

        </div>


        <div class="row">
            <h1>Chamados</h1>
            <button class="add-btn" (click)="AreaSelecionada = 'adicionar-chamado'">+ adicionar chamados</button>
        </div>
        <div class="row"> 
            @if (AreaSelecionada == 'lista-chamados') {
                <div class="chamados">
                    <app-lista-chamados (chamadoSelecionado)="selecionarChamado($event)"]/>
                </div>
            }@else if(AreaSelecionada == "adicionar-chamado"){
                <div class="adicionar-chamado">
                    <app-adicionar-chamados/>
                </div> 
            }@else {
                <div class="adicionar-chamado">
                    <app-descricao-chamado [chamado]="chamado" />
                </div>
            }
        </div>
    </div>
</section>