.container {
    display: flex;
    flex-direction: column;

    gap: 10px;

     .atalho {
        cursor: pointer;
        color: var(--grey);

        display: flex;
        gap: 5px;
    }

     .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .adicionar-chamado {
            margin-top: 20px;
            height: 600px;
            
           
            width: 100%;

        }


        .chamados {
            margin-top: 20px;
            height: 600px;
            overflow-x: auto;
           
            width: 100%;

        }
        

        h3 {
            font-size: 30px;
            font-weight: bold;
        }

    }
}