<section>
    <div class="container">
        <div class="text">
            <h2>{{servico.nome}}</h2>
            <p>{{servico.id}}</p>
        </div>

        <hr>

        <div class="endpoints">
            <input type="text" placeholder="Endpoint" [(ngModel)]="request.endpoints" name="endpoints">
            <select [(ngModel)]="request.metodo" name="metodo">
                <option>GET</option>
                <option>POST</option>
                <option>PUT</option>
                <option>DELETE</option>
            </select>
        </div>

      

        <div class="queryparams">
            <div class="select">Query Params 
                <i (click)="querySelecionado = !querySelecionado">
                @if(!querySelecionado){ABRIR}
                @else{FECHAR}
                </i>
                 <hr></div>
                 @if (querySelecionado) {
                <div class="campo">
                    <div class="form">
                    @for (query of queryParams; track $index) {
                        <div class="row">
                            <div class="col">
                                <label for="">Chave</label>
                                <input
                                type="text"
                                [(ngModel)]="query.key"
                                >
                            </div>
                            <div class="col">
                                <label for="">Valor</label>
                                <input
                                    type="text"
                                    [(ngModel)]="query.value"
                                    >
            
                            </div>
                            <div class="col">
                                <button (click)="apagarQueryParam($index)">APAGAR</button>
                            </div>
                        </div>
                        }
                        <button type="button" (click)="adicionarQueryParam()" >+ Adicionar Query Params</button>
                    </div>
                   
                    <pre class="banco">
                            {{ headers | json }}
                    </pre>
                </div>
            }
        </div>

        <div class="headers">
            <div class="select">
                Headers
                <i (click)="headersSelecionado = !headersSelecionado">
                @if(!headersSelecionado){ABRIR}
                @else{FECHAR}</i>
                <hr>
            </div>
            

            @if (headersSelecionado) {
                <div class="campo">
                    <div class="form">
                    @for (header of headers; track $index) {
                        <div class="row">
                            <div class="col">
                                <label for="">Chave</label>
                                <input
                                type="text"
                                [(ngModel)]="header.key"
                                name="header-key-{{$index}}">
                            </div>
                            <div class="col">
                                <label for="">Valor</label>
                                <input
                                    type="text"
                                    [(ngModel)]="header.value"
                                    name="header-value-{{$index}}">
            
                            </div>
                            <div class="col">
                                <button (click)="apagarHeader($index)">APAGAR</button>
                            </div>
                        </div>
                        }
                        <button type="button" (click)="adicionarHeader()" >+ Adicionar Header</button>
                    </div>
                   
                    <pre class="banco">
                            {{ headers | json }}
                    </pre>
                </div>
            }

        </div>

        <div class="body">
            <div class="select">
                body
                <i (click)="bodySelecionado = !bodySelecionado">
                @if(!bodySelecionado){ABRIR}
                @else {FECHAR}
                </i>
                <hr>
            </div>
            @if (bodySelecionado) {
            <div class="campo">
                <div class="form">
                    @for (item of body; track $index) {
                        <div class="row">
                            <div class="col">
                                <label for="">Chave:</label>
                                <input type="text" [(ngModel)]="item.key">
                            </div>
                            <div class="col">
                               
                                @if(item.type === 'string') {
                                     <label for="">Valor:</label>
                                    <input type="text" [(ngModel)]="item.value">
                                }
            
                                @if(item.type === 'number') {
                                    <label for="">Valor:</label>
                                    <input type="number" [(ngModel)]="item.value">
                                }
            
                                @if(item.type === 'boolean') {
                                    <label for="">Valor:</label>
                                    <input type="checkbox" [(ngModel)]="item.value">
                                }
                            </div>
            
                            <div class="col">
                                <label for="">Tipo:</label>
                                <select name="tipo"  [(ngModel)]="item.type">
                                    <option value="string">String</option>
                                    <option value="number">Number</option>
                                    <option value="boolean">Boolean</option>
                                </select>
                            </div>
                            <div class="col">
                                <button (click)="apagarBody($index)">APAGAR</button>
                            </div>
                        </div>
                    }
                    <button type="button" (click)="adicionarBody()">+ Adicionar body</button>
                    </div>
                    
                    <pre class="banco">
                        {{ body| json }}
                    </pre>
                </div>
            }
        </div>

        <hr>
        <div class="btns">
            <button (click)="fecharModal()" class="can-btn">cancelar</button>
            <button (click)="salvar()" class="add-btn">salvar</button>

        </div>
    </div>
    
</section>