section {
    padding: 40px;
    height: 100%;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        
        
        gap: 20px;
        


        .text {
            display: flex;
            flex-direction: column;
            gap: 3px;

            p {
                color: var(--grey);
            }

        }

        .endpoints {
            display: flex;
            gap: 10px;
            
        }



        .queryparams, .headers, .body {
            .select {
                display: flex;
                align-items: center;
                gap: 10px;
                hr {
                    border: none;
                    background-color: var(--all-black);
                    width: 100%;
                    height: 1px;
                }
            }
            
            
            .campo {
                
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                .form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    gap: 20px;
                    

                    .row {
                        display: flex;
                        width: 100%;
                        gap: 10px;
                    }

                    .col {
                      
                        display: flex;
                        flex-direction: column;
                        text-align: start;
        

                        &:last-child {
                           
                            justify-content: end;
                           
                        }
                
                    }


                    
                    button {
                        padding: 10px;
                        background-color: var(--black);
                        color: var(--white);
                        border: none;
                        border-radius: 5px;
                        width: 100%;
                    }
                }

                .banco {
                    max-width: 100%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    color: var(--white);
                    background-color: var(--black);
                    

                    white-space: pre-wrap;   
                    word-break: break-word;  
                    overflow-wrap: break-word; 
                }
            }

            display: flex;
            flex-direction: column;


        }

        button {
            align-self: center;
            width: 30%;
        }

    }
}


input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;

    background-color: var(--secundary);
}