<section>
    <div class="container">
        <h3>{{servico.nome}}</h3>
        <p>{{servico.id}}</p>

        <input type="text" placeholder="Endpoint" >
        <select [(ngModel)]="request.metodo" name="metodo">
            <option>GET</option>
            <option>POST</option>
            <option>PUT</option>
            <option>DELETE</option>
        </select>


        <div class="queryparams">
            <div class="select">Query Params <i>ABRIR</i></div>
                @for (param of queryParams; track $index) {

                    <div class="linha">

                        <input
                            type="text"
                            [(ngModel)]="param.key"
                            name="query-key-{{$index}}">

                        <input
                            type="text"
                            [(ngModel)]="param.value"
                            name="query-value-{{$index}}">

                    </div>

                    

                }
                
                <button type="button"
                        (click)="adicionarQueryParam()">

                    + Adicionar Query Param

                </button>
                <pre class="banco">
                    {{ queryParams | json }}
                </pre>
        </div>

        <div class="headers">
            <div class="select">Headers <i>ABRIR</i></div>
            @for (header of headers; track $index) {

                <div class="linha">

                    <input
                        type="text"
                        [(ngModel)]="header.key"
                        name="header-key-{{$index}}">

                    <input
                        type="text"
                        [(ngModel)]="header.value"
                        name="header-value-{{$index}}">

                </div>

        }

            <button type="button" (click)="adicionarHeader()">+ Adicionar Header</button>
            <pre class="banco">
                    {{ headers | json }}
                </pre>
        </div>

        <div class="body">
            <div class="select">body <i>ABRIR</i></div>
            <pre class="banco">
                    {{ request.body| json }}
            </pre>
        </div>


        
        <button>salvar</button>
    </div>
    
</section>