section {
    height: 100%;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    gap: 20px;


    
    .row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        gap: 20px;

        .infos-chamados {
            position: relative;
            width: 100%;
            min-height: 100px;
            padding: 20px;
            border-radius: 10px;
            background-color: var(--black);

            color: var(--white);

            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
                font-size: 20px;
            }

            .numeros {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                h1 {
                    font-size: 50px;
                }

                i {
                    font-size: 35px;
                   
                }
                
            }

        }
    }

    .content {
       
        display: flex;
        flex-direction: column;
        gap: 10px;

        border-radius: 20px 20px 0 0px;

        padding: 40px;

        background-color: var(--black);
        height: 100%;

        .row {
            
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            .filtros {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                .pesquisa, .selects {
                    color: var(--white);
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .select, .input {
                        display: flex;
                        flex-direction: column;
                        
                        width: 100%;
                        gap: 4px;

                        select, input {
                            padding: 10px;
                            border-radius: 5px;
                            border: none;
                            width: 90%;
                        }
                    }

                }
            }

            .chamados {
                position: relative;
                color: var(--white);

                display: flex;
                flex-direction: column;

                min-height: 200px;

            

                text-align: center;

               .tabela-chamados {
                    border-spacing: 10px 20px; 
                }

            }
        }

    }

}