<section>
    <div class="container">
        <div class="row">
            <div class="infos-chamados">
                <h4>Todos os chamados</h4>
                <div class="numeros">
                    <h1>{{chamados.length}}</h1>
                    <i>icon_chamados</i>
                </div>
               
            </div>
            <div class="infos-chamados">
                <h4>Chamados Abertos</h4>
                <div class="numeros">
                    <h1>{{chamadosOpen.length}}</h1>
                    <i>icon_chamados</i>
                </div>
               
            </div>
            <div class="infos-chamados">
                <h4>Chamados Fechados</h4>
                <div class="numeros">
                    <h1>{{chamadosFechados.length}}</h1>
                    <i>icon_chamados</i>
                </div>
               
            </div>
            
        </div>
        <div class="content">
            <div class="row">
                <div class="filtros">

                    <div class="pesquisa">
                        <div class="input">
                            
                            <label for="">Filtrar campos:</label>
                            <input type="text"  [(ngModel)]="filtroTexto" (input)="aplicarFiltros()" placeholder="Digite o campo para a pesquisa: Ex: ID, Titulo, Prioridade... etc">
                        </div>
                    </div>
                    <div class="selects">
                        <div class="select">
                            <label for="Prioridade">Prioridade:</label>
                            <select name="prioridade" [(ngModel)]="filtroPrioridade" (change)="aplicarFiltros()">
                                    <option value="">Todos</option>
                                    <option value="ALTA">ALTA</option>
                                    <option value="MEDIA">MEDIA</option>
                                    <option value="BAIXA">BAIXA</option>
                            </select>
                        </div>
                         <div class="select">
                            <label for="categoria" >Categoria:</label>
                            <select name="categoria" [(ngModel)]="filtroCategoria" (change)="aplicarFiltros()">
                                    <option value="">Todas</option>
                                    <option value="BUG">BUG</option>
                                    <option value="FALHA DE SERVICO">FALHA DE SERVIÇO</option>
                                    <option value="INTEGRACAO">INTEGRAÇÃO</option>
                                    <option value="DEPLOY">DEPLOY</option>
                                    <option value="PERFORMANCE">PERFORMANCE</option>
                                    <option value="SEGURANCA">SEGURANÇA</option>
                                    <option value="CONFIGURACAO">CONFIGURAÇÃO</option>
                                    <option value="MELHORIA">MELHORIA</option>
                                    <option value="DEPENDENCIA">DEPENDÊNCIA</option>
                                    <option value="MONITORAMENTO">MONITORAMENTO</option>
                            </select>
                        </div>
                         <div class="select">
                            <label for="status">Status:</label>
                            <select name="status" [(ngModel)]="filtroStatus" (change)="aplicarFiltros()">
                                    <option value="">Todos</option>
                                    <option value="ABERTO">Aberto</option>
                                    <option value="EM ANDAMENTO">Em Andamento</option>
                                    <option value="ENCERRADO">Encerrado</option>
                                    <option value="FECHADO">Fechado</option>
                            </select>
                        </div>
                       
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="chamados">
                    <table class="tabela-chamados">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Título</th>
                                        <th>Descrição</th>
                                        <th>Prioridade</th>
                                        <th>Prazo</th>
                                        <th>Categoria</th>
                                        <th>Usuario Responsavel</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (item of chamadosFiltrados; track $index) {
                                        <tr (click)="selecionarChamado(item)">
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.titulo | slice:0:17 }}...</td>
                                            <td>{{ item.descricao | slice:0:17 }}...</td>
                                            <td>{{ item.prioridade }}</td>
                                            <td>{{ item.prazo| date:'dd/MM/yyyy' }}</td>
                                            <td>{{ item.categoria }}</td>
                                            <td>{{ item.responsavelId || 'nao definido'}}</td>
                                            <td>{{ item.status }}</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
    </div>
</section>
