<section>
        
    <div class="container">
        <h3>Cadastrar Sistema</h3>
        <form action="">
            <label for="">Nome: </label>
            <input type="text" name="nome" [(ngModel)]="servico.nome">
            <label for="">Descricao: </label>
            <input type="text" name="descricao" [(ngModel)]="servico.descricao">
            <label for="">Url: </label>
            <input type="text" name="url" [(ngModel)]="servico.url">
            <label for="">Health Endpoint: </label>
            <input type="text" name="healthEndpoint" [(ngModel)]="servico.healthEndpoint">
        </form>

        <div class="requests">
            @for (item of servico.requisicoes; track $index) {
                <div class="request">
                    <h3>{{item.metodo}}</h3>
                    <h3>{{item.endpoints}}</h3>
                    <h3><i>editar</i> <i>apagar</i></h3>
                </div>
            }
        </div>

        <p (click)="adicionarRequestSelecionado = true" >adicionar request</p> <hr>
        
        @if (adicionarRequestSelecionado) {
            <app-gerenciar-requests  
            [servico]="servico"
            (retorno)="receberRetorno($event)"
             />
        }

        <button (click)="salvar()">Salvar</button>
        <button>Cancelar</button>
    </div>
</section>