
section {
    height: 100%;
    padding: 20px;
    
}



.container {
    display: flex;
    flex-direction: column;

    height: 100%;

    justify-content: space-evenly;

    
    border-radius: 10px;

    h3 {
        font-size: 24px;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        font-weight: bold;

        padding: 20px;


      

        .col {
            display: flex;
            flex-direction: column;
            gap: 5px;

            width: 100%;

            input {
                padding: 10px;
                border: none;
                border-radius: 5px;

                background-color: var(--secundary);
            }
        }
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--black);

        hr {
            border: none;
            background-color: var(--black);
            width: 80%;
            height: 2px;
            
        }
    }

    .requests {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        
       
        
        .request {
            
            background-color: var(--secundary);
            
            width: 100%;
            height: 50px;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 10px 20px;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            
            i {
                cursor: pointer;
                color: var(--grey);

                &:hover {
                    color: var(--black);
                }
            }
            
            
            .metodo {
                
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    font-weight: 600;
                    padding: 2px 20px;
                    border-radius: 20px;
                    color: var(--black);
                    font-weight: 600;
                }
            
            }

            .btns {
                display: flex;
                gap: 10px;

            }
        }
    }

    .form-request {
       
        height: 200px;
        width: 100%;

        overflow-y: auto;
    }

    .hidden {
        height: 10px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
    }

}