<section>
        
    <div class="container">
        <h3>Cadastrar Sistema</h3>
        <hr>
        <form action="">
            <div class="col">
                <label for="">Nome: </label>
                <input type="text" name="nome" [(ngModel)]="servico.nome">
                <label for="">Descricao: </label>
                <input type="text" name="descricao" [(ngModel)]="servico.descricao">
            </div>
            <div class="col">
                <label for="">Url: </label>
                <input type="text" name="url" [(ngModel)]="servico.url">
                <label for="">Health Endpoint: </label>
                <input type="text" name="healthEndpoint" [(ngModel)]="servico.healthEndpoint">
            </div>
        </form>

     

        <div class="requests">
            @for (item of servico.requisicoes; track $index) {
                <div class="request">
                    <h3>{{item.metodo}}</h3>
                    <h3>{{item.endpoints}}</h3>
                    <h3><i>editar</i> <i>apagar</i></h3>
                </div>
            }
        </div>

        <div class="row">
            <p (click)="adicionarRequestSelecionado = !adicionarRequestSelecionado" >@if(adicionarRequestSelecionado) {cancelar} @else {+adicionar request}</p> <hr>
        </div>

        <div [ngClass]="{'form-request': adicionarRequestSelecionado, 'hidden': !adicionarRequestSelecionado}">
            @if (adicionarRequestSelecionado) {
                <app-gerenciar-requests  
                [servico]="servico"
                (retorno)="receberRetorno($event)"
                 />
            }
        </div>
        <hr>
        <div class="btn">
            <button (click)="fecharModal()" class="can-btn">Cancelar</button>
            <button (click)="salvar()" class="add-btn">Salvar</button>
        </div>
    </div>
</section>