<section>
    <div class="container">
        <h1>Esqueci a senha</h1>
        <div class="etapa">
            @if (etapaAtual == 1) {
                <input type="text">
                <button>verificar</button>
            }
            @if (etapaAtual == 2) {
               <input type="text">
               <button>verificar</button>
            }
            @if (etapaAtual == 3) {
                <input type="password">
                <input type="password">
                <button>Salvar</button>
            }
        </div>
    </div>
</section>