<section>
    <div class="container">
        <img src="icon.png" alt="Macro C - Um sistema de controle corporativo">
        <h3>Sign in</h3>
        <form>
            <label for="email">Email:</label>
            <input type="email" name="email" [(ngModel)]="user.email">
            <label for="senha" >Senha:</label>
            <input type="password" name="senha" [(ngModel)]="user.senha">
            <button (click)="login()">Login</button>
        </form>
        <p routerLink="/esqueci-a-senha">esqueceu sua senha?</p>
    </div>
    <p class="copy">© 2026 &lt;KB&gt; Development.</p>
</section>
