.container {
    display: flex;
    flex-direction: column;

    gap: 10px;

    .atalho {
        cursor: pointer;
         color: var(--atalho);

        .servicoAtivo, .servicoNaoAtivo {
            font-weight: bold;
             color: var(--atalho-ativo);
        }

        display: flex;
        gap: 5px;

        p {
            display: flex;
            gap: 5px;
        }
    }

    .row {
        color: var(--title);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .conversas {
            height: 600px;
            overflow-x: auto;
            width: 100%;
            background-color: var(--black);
            border-radius: 20px 20px 0 0px ;
         

            
            
        }
        

        h3 {
            font-size: 30px;
            font-weight: bold;
        }

    }
}