:root {
    
    --primary: #2A2A2A;

    --secundary: #D9D9D9;

    --secundary-10: #9E9E9E;

    --grey: #707070;

    --grey-transp: #777777;

    --grey-10: #C5C5C5;
    
    --grey-20: #616161;

    --white: #EBEBEB;

    --black: #1E1E1E;

    --all-black: #000

}