<section>
    <div class="container">

        <div class="atalho">
            <p><i>idas</i>Dashboard</p> 
            > 
            <p (click)="gerenciarUsuario = false">Usuarios</p> 

        </div>

        
        <div class="row">
            <h1>Usuarios</h1>
            <button class="add-btn" (click)="criarUsuario()">+ adicionar usuario</button>
        </div>
        <div class="row"> 
           <div class="usuarios">
                @if (gerenciarUsuario) {
                    <app-gerenciar-usuario [usuario]="usuario" />
                }@else {
                    <app-lista-usuarios (usuarioSelecionado)="selecionarUsuario($event)" />
                }
           </div>
        </div>
    </div>
</section>