.container {
    display: flex;
    flex-direction: column;

    gap: 10px;

     .atalho {
        cursor: pointer;
        color: var(--grey);

        display: flex;
        gap: 5px;

         p {
            display: flex;
            gap: 5px;
        }
    }

    strong {
       color: var(--black);
    }

     .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .gerenciar-usuario {
            
            height: 600px;
            
           
            width: 100%;

        }


        .usuarios {
            
            height: 600px;
            overflow-x: auto;
           
            width: 100%;

            background-color: var(--black);
            border-radius: 20px 20px 0 0px;

        }
        

        h3 {
            font-size: 30px;
            font-weight: bold;
        }

    }
}