<section>
    <div class="container">
        <div class="row">
            <div class="usuarios">
                <table class="tabela-usuarios">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Status</th>
                            <th>Perfil</th>
                            <th>Ultimo Update</th>
                            <th>Usuario Criado</th>
                            <th>Acao</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of usuarios; track $index) {
                            <tr>
                                <td class="user">
                                    <img [src]="item.FotoPerfil ? 
                                    'data:image/jpeg;base64,' + item.FotoPerfil :
                                    'profile_def.jpg'"
                                     alt="imagem">
                                    <div>
                                        <p>{{item.nome}}</p>
                                        <p>{{item.email}}</p>
                                    </div>
                                </td>
                                <td>{{item.status}}</td>
                                <td>{{item.perfil}}</td>
                                <td>{{item.updatedAt}}</td>
                                <td>{{item.createdAt}}</td>
                                <td>
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>

                                    <mat-menu #menu="matMenu" panelClass="custom-menu">
                                        <button mat-menu-item (click)="selecionarUsuario(item)">
                                            <span><i class="bi bi-pencil-fill"></i>Editar</span>
                                        </button>
            
                                        <button mat-menu-item (click)="arquivarUsuario(item)">
                                        
                                            <span><i class="bi bi-archive-fill"></i>Arquivar</span>
                                        </button>
            
                                        <button mat-menu-item (click)="deletarUsuario(item.id)">
            
                                            <span><i class="bi bi-trash3-fill"></i>Deletar</span>
                                        </button>
                                    </mat-menu>
                        
                
                                        
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>