section {
    height: 100%;
}


.container {
    display: flex;
    flex-direction: column;

    display: flex;
    flex-direction: column;
    gap: 10px;

    


   
    height: 100%;

    .row {
        
        display: flex;
        flex-direction: column;
        gap: 20px;

        .usuarios {
            color: var(--white);
           
            display: flex;
            flex-direction: column;

        

            text-align: center;

           .tabela-usuarios {
                // border-spacing: 10px 20px; 

                border-spacing: 0px;

                thead {
                    background-color: var(--primary);

                  
                    margin-bottom: 10px;

                  
                   
                    th {   

                        height: 60px;
                        

                        &:first-child {
                            border-top-left-radius: 20px;
                        }

                        &:last-child {
                            border-top-right-radius: 20px;
                        }
                    }
                }
                
                tbody {
                    tr:first-child  {
                        td {
                            padding-top: 60px;
                            text-align: center;
                            
                

                        }
                    }

                    tr {
                        td {
                            padding: 10px 0px;

                            &:first-child {
                                width: 150px;
                            }

                            select {
                                background: none;
                                border: none;
                            }

                        }
                    }

                    .user {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        
                        gap: 10px;
                        
                        margin-left: 50px;

                        img {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        div {
                            margin-left: 10px;

                            display: flex;
                            flex-direction: column;
                            text-align: start;

                            p {
                                margin: 0;
                                line-height: 1.2;
                            }
                        }
                    }
                }

            }

        } 
    }
}

